.para {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}

/*div {*/
/*    padding: 20px;*/
/*    borderRadius: 5px;*/
/*    border: 2px solid black;*/
/*    maxWidth: 600px;*/
/*    margin: 0 auto;*/
/*    textAlign: center;*/
/*}*/
