body {
    background-image: url('https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp');
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#person {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(249, 238, 30);
    align-items: center;
    font-family: 'Helvetica Neue';
    font-size: 30px;
    color: aliceblue;
    margin: 0;
}

#find {
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(249, 238, 30);
    margin-top: 10px;
}

h1 {
    font-family: 'Star Wars', sans-serif;
    font-size: 10vh;
    color: rgb(236, 215, 60);
}

h3 {
    font-family: 'Star Wars', sans-serif;
    font-style: italic;
    
}

#person > div {
    font-family: 'Helvetica Neue';
    font: bold;
    flex-grow: 1;
}