body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('9391721.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.container {
    background-color: #f5e4fb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #fb00ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#emojiDisplay {
    margin-top: 20px;
}

#emoji {
    font-size: 3rem;
    text-align: center;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.option:hover {
    background-color: #bdbdbd;
}

#finishGame {
    margin-top: 20px; /* Отступ сверху для отделения от других элементов */
    padding: 10px 20px;
    background-color: #fb00ff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}